<template>
  <ul class="list">
    <li class="item">1</li>
    <li class="item">2</li>
    <li class="item">3</li>
    <li class="item">4</li>
    <li class="item">5</li>
    <li class="item">6</li>
    <li class="item">7</li>
    <li class="item">8</li>
    <li class="item">9</li>
  </ul>
</template>

<script setup></script>

<style lang="scss" scoped>
.list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 30%;
  margin-left: 2.5%;
  margin-bottom: 10px;
  background: pink;
  height: 100px;
}
</style>
