<template>
  <div class="index">
    <div class="cell">
      <div class="block">
        <p class="title">Person</p>
        <div class="content">
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          前天有幸看了尤雨溪 、月影、 郭辉、屈光宇 几位大佬的 《畅聊 Vue 3.0 &
          前端技术新趋势》，属实 vue3 生态周边大全 的一波好家伙给震撼到了；
          虽然我看直播中说的最多的是 别更新了，学不动了 ,
          但是身为前端搬砖大师，又有多少人已经暗暗的卷起来了呢？
          所以特意给大家准备了 vue3 项目周边 一条龙服务 特意打包带给大家
          作者：易师傅 链接：https://juejin.cn/post/7079785777692934174
          来源：稀土掘金
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
          <van-back-top target=".content" offset="20" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {} from 'vue';
</script>

<style lang="scss" scoped>
.index {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url('@/assets/img/bg@2x.png') no-repeat;
  background-size: 150% 150%;
  background-position-x: -70px;
  background-position-y: -110px;
  .cell {
    width: 80%;
    height: 90%;
    opacity: 1;
    border-radius: 45px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    color: white;
    margin: 30px auto;
    .block {
      position: relative;
      height: calc(100% - 50px);
      width: 100%;
      .title {
        font-size: 24px;
        text-align: center;
        height: 50px;
        line-height: 50px;
      }
      .content {
        padding: 10px 20px;
        height: 90%;
        overflow-y: scroll;
        font-size: 12px;
      }
    }
  }
}
</style>
