<!--
 * @Author: YinXuan
 * @Date: 2023-01-10 14:27:44
 * @LastEditTime: 2023-03-02 10:35:06
 * @Description: 生成头部注释的快捷键：ctrl + alt + i，生成函数注释的快捷键：ctrl + alt + t
-->
<template>
	<div class="index">
		<van-nav-bar title="标题" left-text="返回" left-arrow fixed placeholder @click-left="onClickLeft" />

		<van-tree-select v-model:main-active-index="activeIndex" height="calc(100vh - 46px)" :items="items">
			<template #content>
				<div class="first_cell" v-if="activeIndex === 0">
					<template v-for="(ctx, idx) in firstCellList" :key="idx">
						<cell-item :item="ctx" :idx="idx"></cell-item>
					</template>
				</div>
				<van-image
					v-if="activeIndex === 1"
					round
					width="100"
					height="100"
					fit="cover"
					position="center"
					src="https://fastly.jsdelivr.net/npm/@vant/assets/cat.jpeg"
				/>
				<div v-if="activeIndex === 2">
					<comment :comments="commentData.data"></comment>
				</div>
			</template>
		</van-tree-select>
	</div>
</template>

<script setup>
import { ref, reactive } from 'vue';
import { showToast } from 'vant';
import { useRouter } from 'vue-router';
import comment from '../../components/Comment.vue';
import CellItem from './components/CellItem.vue';
import { firstCellList, commentData } from './index.js';
const onClickLeft = () => history.back();

const activeIndex = ref(0);
const items = reactive([
	{
		text: '工作经历',
	},
	{
		text: '我的网站',
	},
	{
		text: '我的Demo',
	},
]);

const router = useRouter();
const routePage = (url, idx) => {
	if (idx === 0) {
		return router.push(url);
	}
	window.location.href = url;
};
</script>

<style lang="scss" scoped>
.first_cell {
	padding: 10px;
}
</style>
