<!--
 * @Author: YinXuan
 * @Date: 2023-01-04 15:04:51
 * @LastEditTime: 2023-02-09 09:53:49
 * @Description: 生成头部注释的快捷键：ctrl + alt + i，生成函数注释的快捷键：ctrl + alt + t
-->
<template>
  <div class="index">
    <div class="cell">
      <div class="block">
        <van-image
          round
          width="100"
          height="100"
          fit="cover"
          position="center"
          :src="imgAvatar"
        />
        <div class="word">YX HOME</div>
        <div class="btn" @click="routePage">Get Started</div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {} from 'vue';
import { useRouter } from 'vue-router';
import imgAvatar from '@/assets/img/ailun.webp';
const router = useRouter();
const routePage = () => {
  router.push('home');
};
</script>

<style scoped>
.index {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url('@/assets/img/bg@2x.png') no-repeat;
  background-size: 150% 150%;
  background-position-x: -70px;
  background-position-y: -110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {
  width: 80%;
  height: 90%;
  opacity: 1;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.word {
  font-size: 24px;
  color: white;
  padding: 30px 0;
}
.btn {
  width: 260px;
  height: 60px;
  line-height: 60px;
  opacity: 1;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.3);

  font-size: 16px;
  font-weight: 400;
  color: rgba(56, 17, 160, 1);
}
</style>
