<!--
 * @Author: YinXuan
 * @Date: 2023-03-02 10:03:08
 * @LastEditTime: 2023-03-02 10:36:34
 * @Description: 工作经历列表组件
-->
<template>
	<div>
		<div
			@click="routePage(ctx.url, idx)"
			:style="{
				background: 'url(' + getAssetsFile(idx) + ') no-repeat',
				backgroundSize: '100% 100%',
			}"
			class="first_cell_item"
		>
			<div class="title animate__animated animate__flash">
				{{ ctx.title }}
			</div>
		</div>
	</div>
</template>

<script setup>
import { defineProps } from 'vue';
import { showToast } from 'vant';
import { useRouter } from 'vue-router';
import { getAssetsFile } from '../index.js';
const props = defineProps({
	item: {
		type: Object,
		default: () => {},
	},
	idx: {
		type: Number || String,
		default: '',
	},
});
const ctx = { ...props.item };

const router = useRouter();
const routePage = (url, idx) => {
	if (idx === 0) {
		return router.push(url);
	}
	window.location.href = url;
};
</script>

<style lang="scss" scoped>
.first_cell_item {
	height: 200px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 16px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		border-radius: 16px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.title {
		color: white;
		font-size: 20px;
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
</style>
