<template>
  <router-view />
</template>

<script setup>
import { ref } from 'vue';
import { showToast } from 'vant';
const name = ref('hh');
const sureBtn = () => {
  showToast('提示内容');
};
const username = ref('');
const password = ref('');
const onSubmit = (values) => {
  console.log('submit', values);
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
:root {
  --van-back-top-background: rgba(0, 0, 0, 0.4) !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
